<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160387283781-mfmg0klkaj3kn4bsjo6e0l8anp93kl6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160387283781-mfmg0klkaj3kn4bsjo6e0l8anp93kl6m</string>
	<key>API_KEY</key>
	<string>AIzaSyCdp0wmNk6---pngMsbJOpHEwAFSp4HjcA</string>
	<key>GCM_SENDER_ID</key>
	<string>160387283781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>comMuhammed.UberClone-SwiftUI</string>
	<key>PROJECT_ID</key>
	<string>uberswiftui-1765e</string>
	<key>STORAGE_BUCKET</key>
	<string>uberswiftui-1765e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160387283781:ios:4a96d5951dc0992a6e1c2c</string>
</dict>
</plist>